html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-pink: #d54570;
  --secondary-pink: #b4355b;
  --teal: #54b4c0;
  --light-grey: #b5b5b5;
  --dark-grey: #222222;
  --shadow: 0px 3px 6px #00000029;
  --main-font: "M PLUS Rounded 1c", sans-serif;
  --secondary-font: "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--main-font);
  color: #fff;
  background-image: url(images/balloons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Containers */
.wrapper {
  width: 90vw;
  margin: auto;
}

.topsection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Header and form */

header {
  text-align: center;
  text-shadow: var(--shadow);
  margin-bottom: 2em;
}

h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25em;
}

label {
  font-size: 1.5em;
  text-shadow: var(--shadow);
  font-weight: 500;
}

#cityname,
#budget,
#date {
  border: none;
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: 1em;
  font-family: var(--secondary-font);
  margin-bottom: 1em;
}

#searchButton {
  margin: 2em auto 0;
  background-color: var(--primary-pink);
  color: #fff;
  box-shadow: var(--shadow);
  font-size: 1.2em;
  font-family: var(--main-font);
  font-weight: 600;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: 0.5s background-color;
  display: block;
}

#searchButton:hover {
  background-color: var(--secondary-pink);
  animation: pulse;
  animation-duration: 0.5s;
}

.shake {
  animation: shakeX;
  animation-duration: 1s;
}

/* Suggestion cards */

.card-wrapper {
  width: 25em;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  margin-top: -8em !important;
  padding: 2em;
}

.eventCard {
  background-color: #fff;
  border-radius: 2em;
  text-align: center;
}

.eventCard img {
  width: 25em;
  height: 15em;
  border-radius: 2em 2em 0 0;
}

#eventname {
  color: var(--primary-pink);
  font-weight: 800;
  font-size: 1.4em;
  padding: 1em 1em 0 1em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#eventdatetime,
#eventvenue {
  color: var(--light-grey);
  font-weight: 600;
}

#eventprice {
  color: var(--teal);
  font-weight: 600;
  padding-bottom: 2em;
}

#a {
  display: block;
  background-color: var(--primary-pink);
  padding: 1em;
  text-transform: uppercase;
  border-radius: 0 0 2em 2em;
  font-weight: 600;
  transition: 0.5s;
}

#a:hover {
  background-color: var(--secondary-pink);
}

/* Weather suggestion */

.weather-wrapper {
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 2px 2px 3px black;
}

#weather {
  font-weight: 600;
}

#backToTop {
  font-family: var(--main-font);
  display: none;
  margin: 0 auto;
  text-align: center;
}

#arrowIcon {
  display: none;
  margin-top: 2em;
  text-align: center;
  text-shadow: var(--shadow);
}

.fa-chevron-up {
  font-size: 2em;
}

/* Media queries */

@media screen and (max-width: 450px) {
  .wrapper {
    width: 100vw;
  }

  header {
    width: 80vw;
  }

  h1 {
    font-size: 2em;
  }

  .form {
    width: 80vw;
  }

  .card-wrapper {
    width: 80vw;
  }

  #eventname {
    font-size: 1.2em;
  }
}
